/* Universal */
* {border: 0px;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, b, i, ol, ul, li, fieldset, form, input, dl, dt, dd {padding: 0; margin: 0; border: 0; font-family: 'Philosopher', 'Georgia', 'Times New Roman', serif; font-weight: normal; vertical-align: baseline; word-wrap: break-word;}
ul {list-style-type: none;}
::selection {color: #ffffff; background: #8c0000;}
::-moz-selection {color: #ffffff; background: #8c0000;}
.clr {clear: both;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

body {min-width: 970px; height: 100%; background-color: #000000;}
img {-ms-interpolation-mode:bicubic}
a:focus {outline: none;}

.noscript {width: 100%; margin: 0 auto; text-align: center; color: #d20000; font-size: 26px; padding: 10px 0 10px 0; cursor: default;}
.dim {position: absolute; width: 100%; height: 100%; overflow: hidden; background-color: #ffffff; z-index: 9999;}

